@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap');
body {
  margin: 0;
  height: 100%;
  font-family: 'BIZ UDGothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #d1c7ab;
}

code {
  font-family: 'Roboto', sans-serif;
}

*{
  padding: 0px;
  margin: 0px;
}