.messenger {
    height: calc(100vh - 85px);
    display: flex;
}
.chatMenu {
    flex: 2;
}
.chatBox {
    flex: 8;
}
.chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chatBoxTop {
    height: 100%;
    overflow-y: auto;
    padding-right: calc(5vh + 1vw);
}
.chatBoxBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatSubmitButton{
    width: 8vw;
    height: 8vh;
    border: none;
    border-radius: calc(0.5vh + 0.5vw);
    cursor: pointer;
}
.chatMenuWrapper {
    border-right: 0.3vw solid #0F0E0E;
}
.chatMenuWrapper, .chatBoxWrapper{
    padding: 10px;
    height:100%;
}
